* {
    padding: 0;
    margin: 0;
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* prevents any scrollbars */
}

#canvas {
  display: block;      /* removes inline whitespace */
  width: 100%;
  height: 100%;
}